@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', Tahoma, Arial, sans-serif;
}

body {
    font-family: 'Roboto', Tahoma, Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .hero, .information, .call-to-action, .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    gap: 1em;
}

.header {
    background-color: #1f2937;
    padding: 1em inherit;
    gap: 6em
}

.header-logo {
    font-weight: 700;
    font-size: 24px;
    max-width: 400px;
}

.header-logo a {
    text-decoration: none;
    color:#f9faf8;
    padding: 16px 16px 16px 0;
}

.header ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 24px;
    max-width: 400px;
}

ul li a {
    text-decoration: none;
    color: #f9faf8;
    padding: 16px 0;
}

.hero {
    justify-content: center;
    padding: 1.5em 1em;
    gap: 1em;
    background-color: #1f2937;
    flex: 1;
    color: #e5e7eb;
}

#hero-heading {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

button {
    font-size: 14px;
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

button.hero-button {
    border: 0;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    max-width: 650px;
}

.hero-right {
    display: flex;
    flex: 1;
    max-width: 650px;
}

.hero-right img {
    max-width: 100%;
    height: auto;
}

.information {
    flex-direction: column;
    padding: 2em 0 4em 0;
    gap: 1em;
}

.information h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information-grid {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
}

.information-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #585858;
    flex-wrap: wrap;
    flex-basis: 200px;
}

.information-card img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8em 2em;
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 800px;
}

.quote-attribution {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-align: right;
    max-width: 800px;
    padding: 1em 0 0 0;
}

.call-to-action {
    justify-content: center;
    align-items: center;
}

.call-to-action-window {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 4em 0;
    padding: 2em 6em;
    border-radius: 8px;
}

.call-to-action-left, .call-to-action-right {
    display: flex;
    flex-direction: column;
}

.call-to-action-left {
    margin-right: 10em;
}

.call-to-action h2, .call-to-action p {
    margin: 0;
}

.call-to-action button {
    padding: 8px 32px;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    font-weight: 700;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}